.dropdown{
    width: 100%;
    border-radius: 0.4rem; 
    color: #0e141b;
    background-color: #d9dfe5;
    margin-bottom: 1.5rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
}

.dropdown:focus {
    border: none; 
    outline: none; 
    box-shadow: 0 0 0 2px #4e7397; 
  }